{
  "InterArrivalTimeMean": {
    "N": 100,
    "W": 5,
    "_type": "InterArrivalTimeMean",
    "model-file": "./model"
  },
  "InterArrivalTimeRange": {
    "N": 50,
    "W": 4,
    "_type": "InterArrivalTimeRange",
    "model-file": "./model"
  },
  "Kitsune": {
    "_type": "Kitsune",
    "model-file": "./model",
    "offset_live_timestamps": true,
    "max_host": 10000000000,
    "max_sess": 10000000000,
    "threshold": 0.25,
    "max_autoencoder_size": 10,
    "fm_grace_period": 3000,
    "learning_rate": 0.05,
    "hidden_ratio": 0.75,
    "lambdas": [
      5,
      3,
      1,
      0.1,
      0.01
    ],
    "features_regexp": {
      "srcDevice": [
        "src",
        "(PLC[0-9]*|SCADA|HMI|Engineer|Historian)"
      ],
      "dstDevice": [
        "dest",
        "(PLC[0-9]*|SCADA|HMI|Engineer|Historian)"
      ],
      "functionCode": [
        "type",
        "(.*)"
      ],
      "activity": [
        "activity",
        "(inform|command|request|response|action|interrogate)"
      ],
      "packetLength": [
        "length",
        "(.*)"
      ],
      "timestamp": [
        "timestamp",
        "(.*)"
      ],
      "packet_id": [
        "id",
        "(.*)"
      ],
      "time_sec": [
        "timestamp",
        "(\\d+)\\."
      ],
      "time_ms": [
        "timestamp",
        "\\d+\\.(\\d+)"
      ],
      "LIT301": [
        "LIT301.Pv",
        "(.*)"
      ],
      "LIT101": [
        "LIT101.Pv",
        "(.*)"
      ],
      "LIT401": [
        "LIT401.Pv",
        "(.*)"
      ]
    },
    "stats": [
      {
        "name": "DetailedRequestResponse",
        "type": "1D",
        "features": {
          "ID1": [
            "srcDevice",
            "functionCode",
            "activity"
          ],
          "t1": "timestamp",
          "v1": "_zero"
        },
        "typediff": true,
        "limit": "hostlimit"
      }
    ]
  }
}
