{
    "SteadyTime": {
        "_type": "SteadyTime",
        "model-file": "./model",
        "features": ["state;P1", "state;P2", "state;P3", "state;P4", "state;P5", "state;P6", "state;LIT101", "state;MV101", "state;P101", "state;FIT201", "state;MV201", "state;P201", "state;LIT301", "state;MV301", "state;MV302", "state;LIT401", "state;P401", "state;UV401",
        "state;FIT501", "state;MV501"],
        "preprocessors": [],
        "threshold": 0.15,
        "discrete_threshold": 10,
        "trainon": 1.0,
        "save-training": null,
        "allow-none": false,
        "adjust": true
    }
}