{
  "Histogram": {
    "_type": "Histogram",
    "model-file": "./model",
    "features": [
      "state;MV101",
      "state;MV201",
      "state;P101",
      "state;P102",
      "state;MV201",
      "state;P201",
      "state;P202",
      "state;P203",
      "state;P204",
      "state;P205",
      "state;P206",
      "state;P207",
      "state;P208",
      "state;MV301",
      "state;MV302",
      "state;MV303",
      "state;MV304",
      "state;P301",
      "state;P302",
      "state;P401",
      "state;P402",
      "state;P403",
      "state;P404",
      "state;UV401",
      "state;P501",
      "state;P502",
      "state;MV501",
      "state;MV502",
      "state;MV503",
      "state;MV504",
      "state;P601",
      "state;P602",
      "state;P603"
    ],
    "preprocessors": [],
    "trainon": 1.0,
    "save-training": null,
    "allow-none": false,
    "window_size": 320,
    "threshold": 3.3,
    "discrete_threshold": 10
  }
}