{
  "MinMax": {
    "_type": "MinMax",
    "model-file": "./model",
    "features": [
      "state;P1", "state;P2", "state;P3", "state;P4", "state;P5", "state;P6",
      "state;FIT101", "state;LIT101", "state;MV101", "state;MV201", "state;P101", "state;P102",
      "state;AIT201", "state;AIT202", "state;AIT203", "state;FIT201", "state;MV201", "state;P201", "state;P202", "state;P203", "state;P204", "state;P205", "state;P206", "state;P207", "state;P208",
      "state;DPIT301", "state;FIT301", "state;LIT301", "state;MV301", "state;MV302", "state;MV303", "state;MV304", "state;P301", "state;P302",
      "state;AIT401", "state;AIT402", "state;FIT401", "state;LIT401", "state;P401", "state;P402", "state;P403", "state;P404", "state;UV401",
      "state;AIT501", "state;AIT502", "state;AIT503", "state;AIT504", "state;FIT501", "state;FIT502", "state;FIT503", "state;FIT504", "state;P501", "state;P502", "state;MV501", "state;MV502", "state;MV503", "state;MV504",
      "state;P601", "state;P602", "state;P603"      
    ],
    "preprocessors": [],
    "trainon": 1.0,
    "save-training": null,
    "allow-none": false,
    "threshold": 0,
    "discrete_threshold": 10
  }
}
