{
  "Histogram": {
    "_type": "Histogram",
    "model-file": "./model",
    "features": [
      "state;MV101",
      "state;MV201",
      "state;P101",
      "state;P102",
      "state;MV201",
      "state;P201",
      "state;P202",
      "state;P203",
      "state;P204",
      "state;P205",
      "state;P206",
      "state;P207",
      "state;P208",
      "state;MV301",
      "state;MV302",
      "state;MV303",
      "state;MV304",
      "state;P301",
      "state;P302",
      "state;P401",
      "state;P402",
      "state;P403",
      "state;P404",
      "state;UV401",
      "state;P501",
      "state;P502",
      "state;MV501",
      "state;MV502",
      "state;MV503",
      "state;MV504",
      "state;P601",
      "state;P602",
      "state;P603"
    ],
    "preprocessors": [],
    "trainon": 1.0,
    "save-training": null,
    "allow-none": false,
    "window_size": 320,
    "threshold": 0.4,
    "discrete_threshold": 10
  },
  "MinMax": {
    "_type": "MinMax",
    "model-file": "./model",
    "features": [
      "state;P1",
      "state;P2",
      "state;P3",
      "state;P4",
      "state;P5",
      "state;P6",
      "state;FIT101",
      "state;LIT101",
      "state;MV101",
      "state;MV201",
      "state;P101",
      "state;P102",
      "state;AIT201",
      "state;AIT202",
      "state;AIT203",
      "state;FIT201",
      "state;MV201",
      "state;P201",
      "state;P202",
      "state;P203",
      "state;P204",
      "state;P205",
      "state;P206",
      "state;P207",
      "state;P208",
      "state;DPIT301",
      "state;FIT301",
      "state;LIT301",
      "state;MV301",
      "state;MV302",
      "state;MV303",
      "state;MV304",
      "state;P301",
      "state;P302",
      "state;AIT401",
      "state;AIT402",
      "state;FIT401",
      "state;LIT401",
      "state;P401",
      "state;P402",
      "state;P403",
      "state;P404",
      "state;UV401",
      "state;AIT501",
      "state;AIT502",
      "state;AIT503",
      "state;AIT504",
      "state;FIT501",
      "state;FIT502",
      "state;FIT503",
      "state;FIT504",
      "state;P501",
      "state;P502",
      "state;MV501",
      "state;MV502",
      "state;MV503",
      "state;MV504",
      "state;P601",
      "state;P602",
      "state;P603"
    ],
    "preprocessors": [],
    "trainon": 1.0,
    "save-training": null,
    "allow-none": false,
    "threshold": 0.2,
    "discrete_threshold": 10
  },
  "SteadyTime": {
    "_type": "SteadyTime",
    "model-file": "./model",
    "features": [
      "state;P1",
      "state;P2",
      "state;P3",
      "state;P4",
      "state;P5",
      "state;P6",
      "state;LIT101",
      "state;MV101",
      "state;P101",
      "state;FIT201",
      "state;MV201",
      "state;P201",
      "state;LIT301",
      "state;MV301",
      "state;MV302",
      "state;LIT401",
      "state;P401",
      "state;UV401",
      "state;FIT501",
      "state;MV501"
    ],
    "preprocessors": [],
    "threshold": 0,
    "discrete_threshold": 10,
    "trainon": 1.0,
    "save-training": null,
    "allow-none": false,
    "adjust": true
  },
  "InvariantRules": {
    "_type": "InvariantRules",
    "model-file": "./model",
    "eps": 0.01,
    "sigma": 60000,
    "theta_value": 0.08,
    "gamma_value": 0.9,
    "max_k": 3,
    "max_comp": 5,
    "negated_states": 0,
    "merge_rules": 0,
    "parallel_filter": true,
    "mode": 1,
    "keyArray": [
      [
        "P101",
        "P102",
        "MV101",
        "FIT101",
        "LIT101"
      ],
      [
        "MV201",
        "P201",
        "P202",
        "P203",
        "P204",
        "P205",
        "P206",
        "P207",
        "P208",
        "FIT201",
        "AIT201",
        "AIT202",
        "AIT203",
        "LS201",
        "LS202",
        "LSL203",
        "LSLL203"
      ],
      [
        "P301",
        "P302",
        "FIT301",
        "LIT301",
        "PSH301",
        "DPSH301",
        "DPIT301",
        "MV301",
        "MV302",
        "MV303",
        "MV304"
      ],
      [
        "LS401",
        "LIT401",
        "P401",
        "P402",
        "P403",
        "P404",
        "UV401",
        "AIT401",
        "AIT402",
        "FIT401"
      ],
      [
        "AIT501",
        "AIT502",
        "AIT503",
        "AIT504",
        "FIT501",
        "FIT502",
        "FIT503",
        "FIT504",
        "MV501",
        "MV502",
        "MV503",
        "MV504",
        "P501",
        "P502"
      ]
    ],
    "actuators": [],
    "discrete_threshold": 10
  },
  "SWaT-LIT301": {
    "_type": "Pasad",
    "model-file": "./SWaT-LIT301.gz",
    "sensor": "LIT301",
    "N": 500,
    "L": 250,
    "r": 1,
    "start": 0,
    "apply_weights": true,
    "theta": 2000000
  },
  "SWaT-LIT401": {
    "_type": "Pasad",
    "model-file": "./SWaT-LIT401.gz",
    "sensor": "LIT401",
    "N": 500,
    "L": 250,
    "r": 1,
    "start": 0,
    "apply_weights": true,
    "theta": 20000000
  }
}
