{
  "Kitsune": {
    "_type": "Kitsune",
    "model-file": "./model",
    "offset_live_timestamps": true,
    "max_host": 10000000000,
    "max_sess": 10000000000,
    "threshold": 0.25,
    "max_autoencoder_size": 10,
    "fm_grace_period": 3000,
    "learning_rate": 0.05,
    "hidden_ratio": 0.75,
    "lambdas": [5, 3, 1, 0.1, 0.01],
    "features_regexp": {
      "srcDevice": ["src", "(.*)"],
      "dstDevice": ["dest", "(.*)"],
      "functionCode": ["type", "(.*)"],
      "activity": ["activity", "(.*)"],
      "timestamp": ["timestamp", "(.*)"],
      "packet_id": ["id", "(.*)"]
    },
    "stats": [
      {
        "name": "BasicComm",
        "type": "1D2D",
        "features": {
          "ID1": ["srcDevice"],
          "ID2": ["dstDevice"],
          "t1": "timestamp",
          "v1": "_zero"
        },
        "typediff": true,
        "limit": "hostlimit"
      },
      {
        "name": "DeviceFrequency",
        "type": "1D",
        "features": {
          "ID1": ["srcDevice"],
          "t1": "timestamp",
          "v1": "_zero"
        },
        "typediff": true,
        "limit": "hostlimit"
      },
      {
        "name": "ActivityPattern",
        "type": "1D",
        "features": {
          "ID1": ["activity"],
          "t1": "timestamp",
          "v1": "_zero"
        },
        "typediff": true,
        "limit": "sessionlimit"
      }
    ]
  }
}