{
  "InvariantRules": {
    "_type": "InvariantRules",
    "model-file": "./model",
    "eps": 0.01,
    "sigma": 1.1,
    "theta_value": 0.08,
    "gamma_value": 0.9,
    "max_k": 4,
    "max_comp": 4,
    "negated_states": 0,
    "merge_rules": 1,
    "parallel_filter": true,
    "mode": 1,
    "keyArray": [
    ["P101", "P102", "MV101", "FIT101", "LIT101"],
    ["MV201", "P201", "P202", "P203", "P204", "P205", "P206", "P207", "P208", "FIT201", "AIT201", "AIT202", "AIT203", "LS201", "LS202", "LSL203", "LSLL203"],
    ["P301", "P302", "FIT301", "LIT301", "PSH301", "DPSH301", "DPIT301", "MV301", "MV302", "MV303", "MV304"],
    ["LS401", "LIT401", "P401", "P402", "P403", "P404", "UV401", "AIT401", "AIT402", "FIT401"],
    ["AIT501", "AIT502", "AIT503", "AIT504", "FIT501", "FIT502", "FIT503", "FIT504", "MV501", "MV502", "MV503", "MV504", "P501", "P502"]
    ],
    "actuators": [],
    "discrete_threshold": 10
  }
}
