{
    "SWaT-LIT101": {
        "_type": "Pasad",
        "model-file": "./SWaT-LIT101.gz",
        "sensor": "LIT101",
        "N": 5400,
        "L": 500,
        "r": 10,
        "start": 150,
        "apply_weights": true,
        "theta": 32480000
    },
    "SWaT-LIT301": {
        "_type": "Pasad",
        "model-file": "./SWaT-LIT301.gz",
        "sensor": "LIT301",
        "N": 5400,
        "L": 500,
        "r": 10,
        "start": 150,
        "apply_weights": true,
        "theta": 91700000
    },
    "SWaT-LIT401": {
        "_type": "Pasad",
        "model-file": "./SWaT-LIT401.gz",
        "sensor": "LIT401",
        "N": 5400,
        "L": 500,
        "r": 10,
        "start": 150,
        "apply_weights": true,
        "theta": 113289000
    }
}