{
    "SWaT-LIT301": {
        "_type": "Pasad",
        "model-file": "./SWaT-LIT301.gz",
        "sensor": "LIT301",
        "N": 500,
        "L": 250,
        "r": 1,
        "start": 0,
        "apply_weights": true,
        "theta": 2000000
    },
    "SWaT-LIT401": {
        "_type": "Pasad",
        "model-file": "./SWaT-LIT401.gz",
        "sensor": "LIT401",
        "N": 500,
        "L": 250,
        "r": 1,
        "start": 0,
        "apply_weights": true,
        "theta": 20000000
    }
}